@media screen and (max-width: 900px) {
    .src-input {
        width: 100px;
    }
}

@media screen and (max-width: 680px) {
    .header-inline {
        width: 100%;
        margin: 0;
    }
    .webTitle {
        width: 100%!important;
        padding: 0 0 0 90px;
        margin: 0;
    } 
    .webTitle h1 {
        font-size: 18px;
    }
    .navmenu-top {
        display: none;
    }
    .menu_tmb {
        display: block!important;
        position: absolute;
        left: 20px;
    }
    .menu_tmb button {
        border: 0;
        outline: none;
        background-color: transparent;
        border: 2px solid #ff5e00;
        border-radius: 3px;
        color: #ff5e00;
        padding: 7px 10px;
        font-size: 16px;
        transition: all 200ms;
    }
    .menu_tmb button:active {
        transform: scale(1.1);
    }
    .float-left {
        width: 100%;
    }
    header .float-right {
        position: absolute;
        right: 20px;
    }  
    .banner {
        height: 100vh;
    }
    .banner:before {
        background-color: transparent;
    }
    .banner {
        background-image: linear-gradient(to top right, #0ccf9f, #005bd3);
    }
    .banner h2 {
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 3px;
        text-shadow: none;
    }
    .banner p {
        font-size: 13px;
        padding: 0 50px;
        text-shadow: none;
        font-weight: normal;
    }
    .btn-daftar {
        padding: 10px 15px;
        border-width: 2px;
        font-size: 12px!important;
    }
    .banner .mt-5 {
        margin-top: 20px!important;
    }
    #about, #kelas, #team {
        padding: 50px 0;
    }
    #kelas .section-inline, #team .section-inline {
        padding: 30px;
    }
    #about {
        min-height: 70vh;
    }
    #about .w-50 {
        width: 100%;
    }
    #about .mx-auto {
        margin: 0;
    }
    .section-inline {
        flex-wrap: wrap;
    }
    .section-card.s2  {
        width: 100%!important;
        margin: 0 0 30px;
    }
    #kontak {
        padding: 30px;
    }
    #kontak .pr-4 {
        padding: 0!important;
    }
}